<!DOCTYPE html>
<html lang="en">
<head>

    <title>Delete</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>

<nav>
    <div class="container">
        <a href="/" id="logo">KEA</a>
        <a href="/">Students </a>
        <a href="/courses">Courses</a>
    </div>
</nav>

<div class="container">

    <h1>Are you sure you want to delete</h1>
    <p th:text="${student.name} + ' ' + ${student.name}"></p>

    <form action="/delete" method="post">
        <input type="hidden" th:field="${student.id}" />
        <input type="submit" value="YES" class="btn btn-create w"/>
        <a href="/" class="btn btn-del w">NO</a>
    </form>




</div>


</body>
</html>