<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <title>Update</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>

<nav>
    <div class="container">
        <a href="/" id="logo">KEA</a>
        <a href="/">Students </a>
        <a href="/courses">Courses</a>
    </div>
</nav>

<div class="container">

    <form action="/update" method="post">

        <input type="hidden" th:field="${student.id}"/>
        <p>First Name: <input type="text" th:field="${student.name}"/></p>
        <p>Last Name: <input type="text" th:field="${student.lastName}"/></p>
        <p>Enrollment date: <input type="date" th:field="${student.enrollmentDate}"/></p>
        <p>cpr: <input type="text" th:field="${student.cpr}"/></p>
        <input type="submit" value="Create" class="btn btn-create"/>

    </form>

</div>

</body>
</html>